
<!-- <p *ngIf="carsCargados">cargaron los usuarios</p> --> <!-- solo aparesca si ya cargaron los usuarios -->
<h1 class="title">CATEGORIAS</h1>
<h2 class="title2">CARROS</h2>
<div class="container">

    <div *ngFor="let carCargado of carsCargados" class="card">
        <p>Marca: {{carCargado.marca}}</p>
        <p>Modelo: {{carCargado.modelo}}</p>
        <p>Precio: {{carCargado.precio}}</p>
        <p>Age: {{carCargado.age}}</p>
        <p>Kilometraje: {{carCargado.kilometraje}}</p>
        <p>Transmision: {{carCargado.transmision}}</p>
        <p>Ciudad: {{carCargado.ciudad}}</p>
        <img class="img" alt="imagen aleatoria" src="https://picsum.photos/700/400?random"> 
    </div>
</div>